  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Book Lookup</h1>
      <h3 class="mb-5">
        <em>Find the Books You Like by the Authors You Love</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Start Here</a>
    </div>
    <div class="overlay"></div>
  </header>